/* Réinitialisation des marges et des paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* En-tête */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

/* Navigation */
nav {
    background-color: #333;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #4CAF50;
}

/* Sections principales */
main {
    margin-top: 30px;
    padding: 20px;
}
h4 { font-size: 1.3em;
    line-height: 1.5;
    margin-bottom: 20px;
   }

h3 {
    font-size: 1.3em;
    line-height: 1.5;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Section Projets (commentée pour l'instant) */
#projects {
    margin-top: 40px;
}

.project-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.project {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project img {
    width: 100%;
    height: auto;
}

.project h3 {
    margin-top: 15px;
    font-size: 1.5em;
}

.project p {
    margin-top: 10px;
}

/* Pied de page */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

footer p {
    font-size: 1em;
}

/* Responsivité */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .project-list {
        flex-direction: column;
        gap: 10px;
    }

    .project {
        width: 100%;
    }
}
